In [1]:
import pandas as pd
import numpy as np
import os

# # Import The Data

In [2]:
#Basics
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

#Akas
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

#Ratings
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

1.basics

In [3]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9909080 entries, 0 to 9909079
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 680.4+ MB

In [4]:
#Replace "\N" with np.nan
basics.replace({'\\N': np.nan}, inplace=True)

In [5]:
#Eliminate movies that are null for runtimeMinutes
basics.dropna (subset = ["runtimeMinutes"], inplace = True)

In [6]:
#Eliminate movies that are null for genres
basics.dropna (subset = ["genres"], inplace = True)

In [7]:
#keep only titleType==Movie
basics=basics[(basics['titleType'] == 'movie')]

In [8]:
#keep startYear 2000-2022
##from .info, its observed its an object, so ill change dtype to int 
basics.dropna (subset = ["startYear"], inplace = True)
basics['startYear'] = basics['startYear'].astype(int)

##apply two filters to make startYear between 2000 to 2022
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)]
basics['startYear'].value_counts()

2017    14382
2018    14342
2019    14099
2016    13963
2015    13477
2014    13119
2022    12891
2021    12395
2013    12391
2012    11648
2020    11584
2011    10779
2010    10212
2009     9367
2008     8166
2007     6967
2006     6525
2005     5845
2004     5218
2003     4594
2002     4134
2001     3873
2000     3642
Name: startYear, dtype: int64

In [9]:
#Eliminate movies that include "Documentary" in genre 
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [10]:
#Keep only US movies
##Filter the basics table down to only include the US by using the filter akas dataframe
basic_keepers =basics['tconst'].isin(akas['titleId'])

##filter basics
basics = basics[basic_keepers]

2. akas

In [11]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36157457 entries, 0 to 36157456
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [12]:
#Replace "\N" with np.nan
akas.replace({'\\N': np.nan}, inplace=True)

In [13]:
#keep only U.S movies
#drop nulls
akas.dropna (subset = ['region'], inplace = True)
#apply filter
akas = akas[akas['region'] == 'US']
akas['region'].value_counts()

US    1443445
Name: region, dtype: int64

3. Ratings

In [14]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320058 entries, 0 to 1320057
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1320058 non-null  object
 1   averageRating  1320058 non-null  float64
 2   numVotes       1320058 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.2+ MB

In [15]:
#Replace "\N" with np.nan
ratings.replace({'\\N': np.nan}, inplace=True)

In [16]:
#keep only US movies
##Filter the ratings table down to only include the US by using the filter akas dataframe
ratings_keepers =ratings['tconst'].isin(akas['titleId'])

##filter ratings
ratings = ratings[ratings_keepers]

Data Info

In [17]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147004 entries, 34803 to 9908930
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          147004 non-null  object
 1   titleType       147004 non-null  object
 2   primaryTitle    147004 non-null  object
 3   originalTitle   147004 non-null  object
 4   isAdult         147004 non-null  object
 5   startYear       147004 non-null  int64
 6   endYear         0 non-null       object
 7   runtimeMinutes  147004 non-null  object
 8   genres          147004 non-null  object
dtypes: int64(1), object(8)
memory usage: 11.2+ MB

In [18]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1443445 entries, 5 to 36157201
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1443445 non-null  object
 1   ordering         1443445 non-null  int64
 2   title            1443445 non-null  object
 3   region           1443445 non-null  object
 4   language         3946 non-null     object
 5   types            979838 non-null   object
 6   attributes       46712 non-null    object
 7   isOriginalTitle  1442103 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.1+ MB

In [19]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501031 entries, 0 to 1320033
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         501031 non-null  object
 1   averageRating  501031 non-null  float64
 2   numVotes       501031 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB

# Save the Data

In [20]:
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title.akas.tsv.gz',
 'tmdb_apiresults2000.json',
 'title_basics.csv.gz',
 'title.ratings.tsv.gz',
 '.ipynb_checkpoints']

In [21]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [22]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [23]:
# Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

# Open saved file and preview .
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1978
1  tt0000002            5.8       265
2  tt0000005            6.2      2621
3  tt0000006            5.1       182
4  tt0000007            5.4       821